---
import AstroSearch from "astro-pagefind/components/Search";
import Navbar from "../components/Navbar.astro";
import Page from "../components/Page.astro";

const title = "Sobraine";
const description = "Search ..";
---

<Page {title} {description}>
  <Navbar />

  <div class="flex justify-center">
    <div class="text-lg w-5/6 lg:w-3/4">
      <!-- Powered by https://pagefind.app -->
      <aside data-pagefind-ignore>
        <p class="my-6 font-semibold">
          {description}
        </p>
      </aside>
      <AstroSearch
        id="search"
        className="pagefind-ui"
        uiOptions={{ showImages: false }}
      />

      <!-- pagefind end -->
      <noscript>
        Hi! You need to enable JavaScript to search the site. Sorry for the
        inconvenience.
      </noscript>
    </div>
  </div>
</Page>
