---
import NavLink from "./NavLink.astro";
import BlogIcon from "./icons/BlogIcon.astro";
import DocIcon from "./icons/DocIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";
import MapIcon from "./icons/MapIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";
import TestimonialsIcon from "./icons/TestimonialsIcon.astro";

const LINKS = [
  {
    href: "/",
    name: "Home",
    icon: HomeIcon,
  },
  {
    href: "/testimonials",
    name: "Testimonials",
    icon: TestimonialsIcon,
  },
  {
    href: "/map",
    name: "Map",
    icon: MapIcon,
  },
  {
    href: "/blog",
    name: "Blog",
    icon: BlogIcon,
  },
  {
    href: "/doc",
    name: "Doc",
    icon: DocIcon,
  },
  {
    href: "/search",
    name: "Search",
    icon: SearchIcon,
  },
];
const pathname = Astro.url.pathname;
console.log(pathname);
---

<header class="text-zinc-700 text-lg">
  <a href="/">
    <div class="flex justify-center my-10">
      <img
        class="h-28 rounded-md shadow-md shadow-zinc-500"
        src="/assets/logo.webp"
        alt="Tiny Rocket"
      />
    </div>
    <p class="text-center text-3xl mt-6 mb-3 font-extrabold font-mono">
      Tiny Rocket
    </p>
  </a>
  <nav class="flex justify-center mt-6 mb-12 gap-2 items-center">
    {
      LINKS.map((link) => {
        const Icon = link.icon;
        return (
          <NavLink href={link.href} isActive={pathname === link.href}>
            <Icon />
            <div slot="name">{link.name}</div>
          </NavLink>
        );
      })
    }

    <a
      target="_blank"
      href="/rss.xml"
      class="rss-link h-full ml-2"
      aria-label="rss feed"
      title="RSS Feed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="#000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <path d="M4 11a9 9 0 0 1 9 9"></path>
      </svg>
      <span class="sr-only">RSS Feed</span>
    </a>
  </nav>
</header>
