---
import type { CollectionEntry } from "astro:content";
import BackToTop from "../components/BackToTop.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import Page from "../components/Page.astro";
import Pagination from "../components/Pagination.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Page title="Title" description="Description">
  <BlogHeader title="Blogs" />
  <BackToTop />

  <div class="flex justify-center">
    <div class="text-lg w-5/6 lg:w-3/4">
      <div
        class="grid md:grid-cols-3 gap-6 mb-6 bg-white px-24 py-12 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
      >
        {
          paginatedPosts.map((post) => {
            return <BlogPostPreview post={post} />;
          })
        }
        <div class="col-span-3 justify-end flex">
          <Pagination
            {currentPage}
            {totalPages}
            prevUrl={`/blog${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
            nextUrl={`/blog/${currentPage + 1}`}
          />
        </div>
      </div>
    </div>
  </div>
</Page>
